<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Boston Prices</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Beantown Housing Data</h1>
    </header>

    <div class="row">
      <form >
        <h4>Age</h4>
        <select name="" id="">
          <option value="age">Choose One</option>
        </select>

        <h4>Crime</h4>
        <select name="" id="">
          <option value="crime">Choose One</option>

        </select>

        <h4>Distance</h4>
        <select name="" id="">
          <option value="distance">Choose One</option>

        </select>
      </form>
    </div>
  </div>
</body>
</html>
