body {
  background: url(http://digbza2f4g9qo.cloudfront.net/~/media/IndyCar/News/Standard/2015/05/05-21-Boston-Joins-Circuit-2016-Std.jpg?h=366&la=en&w=610&vs=1&d=20150520T083123);
  background-repeat: no-repeat;
  background-size: 100%;
}
